* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    background: black;
    background: -webkit-linear-gradient(to top, #434343, #000000);
    background: linear-gradient(to bottom, #110e33, #000000);
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(36, 40, 54);
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.308);
    transition: all 0.3s ease;
    gap: 0.5rem;
}

.btn:hover {
    background-color: rgb(24, 38, 230);
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn a i {
    margin-right: 0.5rem;
    color: #ffff;
    font-size: 16px;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 5px;
}

.link a {
    font-size: 1.4rem;
    position: relative;
    color: white;
    text-decoration: none;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: -10px;
    left: 0;
    background-color: #1637a1;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
  }

.blur {
    position: absolute;
    z-index: -100;
    border-radius: 10px;
    top: 230;
}

/* Header */

header .content{
    margin-top: 80px;
}

header .content h1 {
    color: #fff;
    font-size: 2.9rem;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ffff;
}

header .content p {
    color: #ccc;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

header .content .social {
    display: flex;
    gap: 1rem;
}

header img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

/* Experience Section */

.experienceSection {
    margin: 100px auto;
  }
  
  .experienceSection h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .experienceSection h2 svg {
    width: 20px;
    height: 20px;
  }

/* Ol */
.experienceList{
    border-inline-start: 1px solid #fff;
    position: relative;
    list-style: none;
}

.experienceItemList{
    font-size: 1.25rem;
    padding-left: 20px;
    padding-bottom: 40px;
}   

.experienceItemList time{
    color: rgba(213, 213, 213, 0.815);
}
.experienceItemList h3{
    color: rgba(81, 149, 238, 0.815);
    margin-top: 10px;
}
.experienceItemList p{
    color: white;
    margin: 5px 0;
}

.decorative{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: -5px;
    margin-top: 7px;

}

/* Projects */

.projectsSection h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
.projectsSection h2 svg {
    width: 20px;
    height: 20px;
}
.projects{
    position: relative;
    display: flex;
    gap: 25px;
}

.projects-content h3{
    font-size: 1.6rem;
    color: #fff;
}

.lenguages .html{
    background-color: #f16529;
    padding: 4px 10px;
}
.lenguages .react{
    background-color: #2965f1;
    padding: 4px 10px;
}
.lenguages .tailwind{
    background-color: #0b661a;
    padding: 4px 10px;
}

.lenguages, .html, .react, .tailwind{ 
    color: white;
    font-weight: bold;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 10px;
}

.projects-content p{
    color: white;
    margin-bottom: 2rem;
}

.projects-content .btn{
    border-radius: 10px;
}

.projects-images img{
    width: 360px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
}





